# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
target
.idea
*.iml
*.ipr
*.iws
*/*.log
*/target/
*.DS_Store
*.classpath
*.settings
*.project
